---
---
<nav class="w-full h-20 flex flex-col justify-center items-center fixed bg-customDarkBg1 lg:bg-customDarkBgTransparent z-40 lg:backdrop-blur-xl">
    <div class="2xl:w-[1280px] xl:w-10/12 w-11/12 flex justify-between items-center relative">
        <div style="opacity: 1;">
            <a href="/">
                <div class="flex justify-start items-center grow basis-0">
                    <div class="text-white mr-2 text-6xl">
                        <svg 
                            width="40" 
                            height="40" 
                            viewBox="0 0 24 24" 
                            xmlns="http://www.w3.org/2000/svg" 
                            class="fill-customPrimary">
                        <path d="M11.3709 9.59273L8.77816 7L1 14.7782L3.59272 17.3709L11.3709 9.59273Z"></path><path d="M15.2218 7L23 14.7782L20.424 17.3542L15.2218 12.152L10.0197 17.3542L7.44367 14.7782L15.2218 7Z"></path></svg>
                    </div>
                    <div class="text-white font-['Inter'] font-bold text-xl">Ruiz-Oddone Agency</div>
                </div>
            </a>
        </div>
        <div style="opacity: 1;">
            <div style="opacity: 1;">
                <div class=" lg:flex h-full pl-12 pb-2">
                    <a class="navbar-link" href="#home" aria-label="Home">Home</a>
                    <a class="navbar-link" href="#features" aria-label="Features">Features</a>
                    <a class="navbar-link" href="#pricing" aria-label="Pricing">About Us</a>
                    <a class="navbar-link" href="#feedback" aria-label="Feedback">Contact</a>
                    <a class="navbar-link" href="#FAQ" aria-label="FAQ">FAQ</a>
                </div>
            </div>
        </div>
        <div style="opacity: 1;">
            the theme Toggle
        </div>
        <div style="lg:hidden flex flex-col  px-2 py-3 border-solid border border-gray-600 rounded-md cursor-pointer hover:bg-customDarkBg2;"></div>
       
    </div>
</nav>